/* DynamicForm.css */

.textFieldHeader {
    font-family: 'Outfit', Helvetica;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.textField {
    font-family: 'Outfit', Helvetica;
    font-size: x-large;
    color: black;
    border: 2px solid white; /* Bolder border for text fields */
    border-radius: 10px; /* Round the corners of text fields */
    /* Additional styling for text fields */
    margin-bottom: 30px; /* Increase spacing between text fields */
    width: -webkit-fill-available;
}

.statusMessage {
    font-family: 'Outfit', Helvetica;
    font-size: medium;
    color: white;
}