@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

/* Disables scrolling bar */
::-webkit-scrollbar {
    display: none;
}

.login-background {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.login-form-wrapper  {
  padding: 1%;
}

.you-tune{
  display: flex;
  float: left;
  overflow: auto;
  padding: 2%;
}

.you-tune .you-tune-span {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 64px;
  font-weight: 600;
  
}
.you-tune .you-tune-span2 {
  color: #be0000;
  font-family: "Outfit", sans-serif;
  font-size: 64px;
  font-weight: 600;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 557px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-title {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 0px 3px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 805px;
  position: relative;
}
.screw-the-ads {
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  line-height: 125%;
  font-weight: 600;
  position: relative;
}
.screw-the-ads-span {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  line-height: 125%;
  font-weight: 600;
}
.screw-the-ads-span2 {
  color: #be0000;
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  line-height: 125%;
  font-weight: 600;
}
.login-form {
  padding: 0px 48px 0px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.username {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.username2 {
  color: #ffffff;
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  line-height: 125%;
  font-weight: 500;
  position: relative;
}
.username-input {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border: 0;
}

.username-input input{
  background-color: white;
    color: black;
    border: 1px solid white;
    padding: 5px;
    font-family: "Outfit", Helvetica;
    font-size: 23px;
    outline: none;
}
.input-text {
  color: rgba(0, 0, 0, 0.65);
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  line-height: 125%;
  font-weight: 400;
  position: relative;
}
.password {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.password2 {
  color: #ffffff;
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  line-height: 125%;
  font-weight: 500;
  position: relative;
}
.password-input {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.password-input input {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 5px;
  font-family: "Outfit", Helvetica;
  font-size: 23px;
  outline: none;
}
.error-message {
  color: #ffffff;
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: 125%;
  font-weight: 400;
  position: relative;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  top: 20px;
  background: #be0000;
  border-radius: 100px;
  padding: 11px 50px 11px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.button:hover{
  background-color: white;
}
.login {
  cursor: pointer;
  color: #000000;
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  line-height: 125%;
  font-weight: 600;
  position: relative;
}

.error-message {
  color: #be0000;
  font-family: "Outfit", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 130px;
  white-space: nowrap;
  width: 290px;
}

.success-message{
  color: green;
  font-family: "Outfit", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 599px;
  white-space: nowrap;
  width: 290px;
  transition: color 5s ease;
} 

/* Testing stuff from old  */
/* .frame {
    background-color: #000000d4;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .frame .div {
    background-color: #000000d4;
    height: auto;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow-y: auto;
    overflow-x: scroll;
  }
  
  .frame .login-frame {
    user-select: none;
    align-items: center;
    background-color: #be0000;
    border-radius: 100px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 719px;
    overflow: hidden;
    padding: 11px 50px;
    position: relative;
    top: 730px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .frame .login-frame:hover {
    background-color: white;
  } 
 
  .frame .text-wrapper {
    color: #000000;
    font-family: "Outfit", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 45px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .register-frame {
    user-select: none;
    align-items: center;
    background-color: #be0000;
    border-radius: 100px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 938px;
    overflow: hidden;
    padding: 11px 50px;
    position: absolute;
    top: 730px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .frame .register-frame:hover {
    background-color: white;
  } 

  .frame .text-wrapper-2 {
    color: black;
    font-family: "Outfit", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 45px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .you-tune-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 0vh;
    left: 5%;
    padding: 10px;
    position: relative;
    top: 5vh;
    width: 100%;
  }
  
  .frame .you-tune {
    user-select: none;
    color: transparent;
    font-family: "Outfit", Helvetica;
    font-size: 4.5em;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 80px;
    margin-bottom: -4px;
    margin-top: -5vh;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .span {
    color: #ffffff;
  }
  
  .frame .text-wrapper-3 {
    color: #be0000;
  }
  
  .frame .div-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    left: 661px;
    padding: 10px;
    position: absolute;
    top: 415px;
    width: 567px;
  }
  
  .frame .text-wrapper-4 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .overlap {
    height: 117px;
    left: 661px;
    position: absolute;
    top: 549px;
    width: 567px;
  }
  
  .frame .div-wrapper-2 {
    align-items: center;
    display: flex;
    gap: 10px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 567px;
  }
  
  .frame .div-wrapper-3 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    left: 0;
    overflow: hidden;
    padding: 5px 25px;
    position: absolute;
    top: 59px;
    width: 557px;
  }
  
  .frame .div-wrapper-3 input {
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: 10px;
    font-family: "Outfit", Helvetica;
    font-size: 23px;
    outline: none;
  }

  .frame .text-wrapper-5 {
    color: #000000a6;
    font-family: "Outfit", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 37.5px;
    margin-top: -1px;
    position: absolute;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .div-wrapper-4 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    left: 661px;
    overflow: hidden;
    padding: 5px 25px;
    position: absolute;
    top: 475px;
    width: 557px; 
  }
  .frame .div-wrapper-4 input {
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: 10px;
    font-family: "Outfit", Helvetica;
    font-size: 23px;
    outline: none;
  }

  .frame .overlap-group {
    height: 132px;
    left: 536px;
    position: absolute;
    top: 269px;
    width: 847px;
  }
  
  .frame .screw-the-ads-wrapper {
    user-select: none;
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 194px;
    padding: 10px;
    position: relative;
    top: 0;
  }
  
  .frame .screw-the-ads {
    color: transparent;
    font-family: "Outfit", Helvetica;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 87.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame .rectangle-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 106px;
    width: 847px;
  }
  
  .frame .rectangle {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 6px;
    position: relative;
    width: 766px;
  }
  
  .frame .div-wrapper-5 {
    height: 40px;
    left: 661px;
    position: absolute;
    top: 648px;
    width: 509px;
  }

  .frame .p {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
    width: 290px;
  }
  .error-message {
    color: #be0000;
    font-family: "Outfit", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    white-space: nowrap;
    width: 290px;
  }

  .success-message{
    color: green;
    font-family: "Outfit", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    white-space: nowrap;
    width: 290px;
    transition: color 5s ease;
  } */