@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

.dashboard,
.dashboard * {
  box-sizing: border-box;
}
.dashboard {
  background: rgba(0, 0, 0, 0.83);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
  width: 400px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 19px;
  padding-bottom: 20px;
  user-select: none;
}
.you-tune-homepage {
  display: flex;
}

.you-tune-homespan {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 200%;
  line-height: 125%;
  font-weight: 600;
}

.you-tune-homespan2 {
  box-sizing: content-box;
  display: flexbox;
  flex-direction: row;
  color: #be0000;
  font-family: "Outfit", sans-serif;
  font-size: 200%;
  line-height: 125%;
  font-weight: 600;
  text-shadow: black 0px 0 5px;
}

.logout {
  user-select: none;
  color: #ffffff;
  text-align: left;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
  position: absolute;
  left: 1785px;
  cursor: pointer;
  transition: 0.3s ease;
  text-shadow: black 0px 0 5px;
}

.logout:hover {
  color: #be0000;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 45px;
  top: 73px;
}
.frame-15 {
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #393939;
  border-radius: 21px;
  flex-shrink: 0;
  width: 888px;
  height: 50px;
  position: relative;
}
.search-bar {
  width: 100%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  font-weight: 500;
}

.search-bar input {
  color: white;
  outline: none;
  background-color: #393939;
  font-family: "Outfit";
  font-size: 22px;
  width: -webkit-fill-available;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.search-icon {
  color: white;
  position: absolute;
  top: 15px;
  justify-content: center;
  right: 30px;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 20px;
}

.search-icon:hover {
  color: #be0000;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

.clear-icon {
  color: white;
  position: absolute;
  top: 15px;
  justify-content: center;
  right: 70px;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 20px;
}

.clear-icon:hover {
  color: #be0000;
}

.frame-16 {
  /* padding: 0px 14px 28px 14px; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 79%;
  position: absolute;
  left: 960px;
  top: 79px;
  overflow: hidden;
  margin-left: 16px;
}
.playlist-view {
  background: #393939;
  border-radius: 21px;
  flex-shrink: 0;
  width: 888px;
  height: 100%;
  position: relative;
  /* new line */
  overflow: none;
}

.playlist-view.active {
  position: relative;
}

.playlist-view.active::after {
  content: '';
  position: absolute;
  border-radius: 21px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0.1;
  z-index: 1; /* Below add-playlist and add-playlist-modal but above other content */
  pointer-events: all; /* Makes this layer clickable (and thus, blocks clicks to elements beneath it) */
}

.playlist-view.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  z-index: 1;
  }

.add-playlist, .add-playlist-modal {
  position: relative;
  z-index: 2;
}

.playlists {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  width: 100%;
  font-weight: 600;
  position: relative;
  top: 26px;
  margin-bottom: 50px;
  user-select: none;
}

.add-playlist {
  display: flex;
  color:white;
  font-size: 40px;
  position: absolute;
  left: 90%;
  transition: 0.3s ease;
  top: -10%;
  transition: 0.3s ease;
}


.add-playlist-icon.rotate {
  color: black;
  border-radius: 30px;
  border: 2px solid black;
}

.add-playlist-icon.rotate:hover {
  color: #be0000;
}
.add-playlist:hover {
  transform: scale(1.3);
  color: #be0000;
  cursor: pointer;
}

.add-playlist.rotate {
  transform: rotate(45deg);
}

.add-playlist-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%; /* Position the dropdown below the add playlist button */
  left: 50%; /* Center the dropdown horizontally */
  transform: translate(-50%, -50%);
  background: #2c2c2c;
  border: 2px solid black;
  border-width: 2px;
  border-radius: 21px;
  padding: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for better visibility */
  z-index: 2; /* Ensure the dropdown appears above other content */
  transition: transform 0.3s ease;
}

.add-playlist-modal.active {
  animation: fadeIn 0.3s ease;
}

.add-playlist-modal.fade-out {
  animation: fadeOut 0.3s ease;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.add-playlist-modal input {
  font-family: "Outfit";
  font-size: large;
  border: none;
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

.add-playlist-modal button{
  background-color: #be0000;
  font-weight: 800;
  border: none;
  margin-left: 15px;
  font-family: "Outfit";
  font-size: large;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
}

.add-playlist-modal button:hover{
  color: white;
}

.frame-17 {
  padding: 10px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 75%;
  position: absolute;
  left: 35px;
  top: 141px;
  overflow: hidden;
}
.rectangle-1 {
  background: #393939;
  border-radius: 21px;
  flex-shrink: 0;
  width: 888px;
  height: 100%;
  position: relative;
}

.loader{
  display: block;
  position: relative;
  height: 12px;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  top: 30px;
  left: 25%;
}
.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #be0000;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.player {
  display: flex;
  position: relative;
  top: 91vh;
  justify-content: center;
}